/* rest */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
}

img {
    max-width: 100%;
}

a:link {
    text-decoration: none;
}

:root {
    --azzurrino: #B4D0E7;
    --azzurrro: #0061FF;
    --bordeaux: #61082B;
    --verdechiaro: #A2D39B;
    --azzurroquadro: #0093CE;
    --rosso: #FF1C1C;
    --rossoscuro: #D5001F;
    --blu: #0D2481;
    --giallo: #FFD830;

}

/* utility */
.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.nowrap {
    flex-wrap: nowrap;
}

.contenitore-largo-spostamento {
    margin-top: 70px;
}

.allineamentoflex {
    justify-content: center;
}
.spaziatura-flex{
    justify-content: space-between;
}
.centramentoflex {
    align-items: center;
}
.delineamento {
    padding-top: 20px;
    padding-bottom: 20px;
}
.delineamento-doppio {
    padding-top: 50px;
    padding-bottom: 50px;
}

.intentazione{
    text-indent: -10px;
    padding-left: 25px;
}

button {
    color: white;
    background-color: var(--azzurrro);
    border: none;
    padding: 10px 25px;
    cursor: pointer;
    text-align: center;
}
.button-secondario{
    color: black;
    background-color:white;
    border: 1px solid black;
}

.font-btn {
    font-size: 1rem;
}
.font-freccia{
    font-size: 2.5rem;
    padding-bottom: 10px;
    font-style: ;
}

.contenitore-largo {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

.contenitore {
    width: 60%;
    margin: 0 auto;
    max-width: 1000px;
}



/* colori box */
.verde {
    background-color: var(--verdechiaro);
}

.bordeaux {
    background-color: var(--bordeaux);
}

.azzurro {
    background-color: var(--azzurroquadro);
}

.rosso {
    background-color: var(--rosso);
}

/* header */
header {
    background-color: var(--azzurrino);
}

/* sezione nav */
.nav {
    background-color: white;
    width: 100%;
    position: fixed;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.nav a {
    color: black;
}
li{
    padding: 5px;
}
.nav li {
    padding: 8px;
    text-align: center;
}

/* sezione buisness */
.jumbo {
    position: absolute;
    height: 50%;
}

h1 {
    color: black;
    font-size: 4rem;
    font-weight: bold;
}

h2 {
    color: black;
    font-size: 3rem;
    font-weight: bold;
}
h3{
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}
h4{
    color: black;
    font-size: 1rem;
    font-weight: bold;
}

.casella-scelta {
    margin-right: 45%;
}

.destra-largo {
    width: calc(2*(100% /3));
}

.sinistra-largo {
    width: calc(100% /3);
}

.sezione {
    width: calc((100% / 3) - 2%);
    
}

.card-bordo-intestazione{
    border: 0.5px solid lightgrey;
    border-bottom: 0px;
    text-align: center;
    padding: 8px;
}

.card-bordo{
    border: 0.5px solid lightgrey;
    padding:5px 0 5px 25px;
}
.prezzo{
    font-weight: bold;
    font-size: 0.8rem;
    
}
.periodo{
    font-weight: italic;
    font-size: 0.6rem;
    color: gray;
}
.divisore-piani{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 25px;
    margin-right: 65%;
    color: lightgray;
}
.link a{
    color: blue;
    text-decoration: underline;
}
.colonna70{
    width: 70%;
}
.colonna60{
    width: 50%;
}
.colonna40{
    width: 40%;
}
.colonna30{
    width: 30%;
}
.colonna1di3{
    width: calc(100% /3);
}
/* box2 debug */
.box2 {
    background-color: rgb(16, 202, 159);
    border: 2px solid red;
    height: 400px;
}

/* sponsor */
.sponsor {
    width: calc(100% / 3);
}

.box {
    width:33vh;
    height: 33vh;
    text-align: center;
}
.box > img {
    max-width: 6rem;
    height: auto;
    margin: 25%;
    display: block;
}
.colore-check{
    color:var(--azzurrro)
}
.colore-bianco{
    color: white;
}
/* parte finale */
.prova-gratuita {
    background-color: var(--azzurrino);
    /* debug */
    border: 2px solid red;
    height: 400px;
}

/* footer */
footer {
    background-color: black;
    /* debug */
    height: 600px;
    
}